#.gitignore MyKicadLibraries

#ignore Misioto libraries
MyModules/3D\ models/Misioto\ Models/
mod_conn_pc/
mod_smd_dil/
mod_smd_trans

#ignore zilog files
*zilog*

#ignore converted eagle libraries
egl_libs4/

#ignore atmel libs
atmel.*

#ignore
KiCAD_teensypp2/